{% extends "base.html" %}

{% block style %}
<style>
  form input {
    width: 100%;
    background-color: rgb(232, 240, 254);
    border: 1px solid #ccc;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%!important;
  }
  form input:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    outline: None;
  }
  .form-row .errorlist {
    color: red;
    list-style: none;
    padding-left: 0px;
  }
</style>
{{ block.super }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div id="content-main" style="width: 400px; margin: auto; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; padding: 19px; margin-top: 50px;">

  <h3 style="margin-top: 0px;">Change password</h3>

  <p>Thank you for activating your account, please fill in the form below to set your password.</p>

  <form method="post">
    {% csrf_token %}
    <div>
    {% if form.errors %}
      <p class="errornote" style="color: red;">
      Please correct the error below.
      </p>
    {% endif %}

    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

    <fieldset class="module aligned wide">

    <div class="form-row">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>

    <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
    </div>

    <div class="form-row">
    {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
        <div class="help">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
    </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Change my password" class="default btn-primary" style="padding: 6px 12px; border: None; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 4px; width: 100%;">
    </div>

    </div>
  </form>
</div>

{% endblock %}
